<button class="accordion">TEAM MEMBERS</button>
	<div class="panel">
	<br>

	NUMBER OF TEAM MEMBERS &nbsp;<input id="number_of_team_members" class="number" type="number" min="0" max="50" value="0">
	
	<br>
	<br>  
	</div>
	<div style="display: none" id="amount_of_km_template">
	<br>
	<form action="">
			AMOUNT OF KM <input class="number_km" type="number" min="0" max="10000" value="0"><br>
			<input type="radio" name="transportation" value="train" factor="60">TRAIN<br>
			<input type="radio" name="transportation" value="bus" factor="50">BUS<br> 
			<input type="radio" name="transportation" value="car" factor="130">CAR<br>
			<input type="radio" name="transportation" value="plane" factor="175">PLANE<br>
	</form>
	<br>
	</div>
	<button class="accordion">TRANSPORTATION</button>
	<div class="panel" id="amount_of_km">
	</div>
	<button class="accordion">HARDWARE</button>
	<div class="panel">
	<br>
		<form action="">
			<li>
				<input type="checkbox" name="electronics" value="laptop"> LAPTOP
			</li>
			<br>
			<li>
				&nbsp;<input class="number" type="number" min="0" max="50" value="0" factor="749">
			</li>
			<br>
			<br>
			<li>
				<input type="checkbox" name="electronics" value="phone"> PHONE 
			</li>
			<br>
			<li>
				&nbsp;<input class="number" type="number" min="0" max="50" value="0" factor="32.1">
			</li>
			<br>
			<br>
			<li>
				<input type="checkbox" name="electronics" value="tablet"> TABLET
			</li>
			<br> 
			<li>
				&nbsp;<input class="number" type="number" min="0" max="50" value="0" factor="38.52">
			</li>
			<br>
			<br>
			<li>
				<input type="checkbox" name="electronics" value="cables"> CABLES
			</li>
			<br> 
			<li>
				&nbsp;<input class="number" type="number" min="0" max="50" value="0" factor="0">
			</li>
			<br>
			<br>
			<li>
				<input type="checkbox" name="electronics" value="3Dprinter"> 3D PRINTER
			</li>
			<br> 
			<li>
				&nbsp;<input class="number" type="number" min="0" max="50" value="0" factor="321">
			</li>
			<br>
			<br>
			<li>
				<input type="checkbox" name="electronics" value="laser"> LASER CUTTER
			</li>
			<br> 
			<li>
				&nbsp;<input class="number" type="number" min="0" max="50" value="0" factor="417.3">
			</li>
			<br>
			<br>
			<li>
				<input type="checkbox" name="electronics" value="hot-plate"> HOT PLATE
			</li>
			<br> 
			<li>
				&nbsp;<input class="number" type="number" min="0" max="50" value="0" factor="6420">
			</li>
			<br>
			<br>
			<li>
				<input type="checkbox" name="electronics" value="kitchen_aid"> KITCHEN AID
			</li>
			<br> 
			<li>
				&nbsp;<input class="number" type="number" min="0" max="50" value="0" factor="160.5">
			</li>
			<br>
			<br>
			<li>
				<input type="checkbox" name="electronics" value="light"> LIGHT BULB
			</li>
			<br> 
			<li>
				&nbsp;<input class="number" type="number" min="0" max="50" value="0" factor="642">
			</li>
			<br>
			<br>
		</form>
		<br>
	</div>
	
	<button class="accordion">TOOLS</button>
	<div id="foo" class="panel">
	  <br>
	  <form action="">
			<input type="checkbox" name="electronics" value="arduinoUNO"> DRILLER <br>
			<input type="checkbox" name="electronics" value="arduinoUNO"> LASER CUTTER <br> 
			<input type="checkbox" name="electronics" value="arduinoUNO"> 3D PRINTER <br>
		</form>
		<br>
	</div>

	<button class="accordion">ENERGY SOURCE</button>
	<div id="foo" class="panel">
	  <br>
	  <form action="">
			<input type="radio" name="electronics" value="arduinoUNO"> WIND POWER <br>
			<input type="radio" name="electronics" value="arduinoUNO"> NUCLEAR POWER <br> 
			<input type="radio" name="electronics" value="arduinoUNO"> SOLAR POWER <br>
			<input type="radio" name="electronics" value="arduinoUNO"> BROWN COAL POWER <br>
			<input type="radio" name="electronics" value="arduinoUNO"> GERMAN ENERGY MIX <br>
		<br>
	</div>


	<div class="co2">0,35 GR OF CO2</div>
	


	<script>
	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
	    acc[i].onclick = function(){
	        this.classList.toggle("active");
	        this.nextElementSibling.classList.toggle("show");
	  }
	}
	</script>
