<!DOCTYPE html>
<html>
<head>
  <title>{{page_title}}</title>
  <meta namen” content=”{{page_description}}”>
  <meta charset="utf-8">
  <meta name="author" content="{{author}}">
  {{> stylesheets }}
</head>
<body id="main">
  {{{body}}}
  {{> scripts }}
</body>
</html>
